<section class="flex flex-col space-y-6 w-full md:max-w-lg lg:max-w-xl xl:max-w-2xl">
  <h1 class="text-2xl lg:text-4xl text-center font-bold">
    There is <%= length(@subscriptions) %> subscriptions
  </h1>

  <ul class="flex flex-col w-full md:max-w-md lg:max-w-lg">
    <%= for subscription <- @subscriptions do %>
      <li>✅ <%= subscription.email %></li>
    <% end %>
  </ul>
</section>
