<section id="success" class="flex flex-col space-y-6 w-full md:max-w-lg lg:max-w-xl xl:max-w-2xl">
  <h1 class="text-2xl lg:text-4xl text-center font-bold">Success</h1>

  <p class="text-center">Please, verify your e-mail and confirm your subscription</p>
</section>